@import '../../style/mixin.scss';
.menu_wraper{
  display: flex;
  padding-top:20px;
  position: relative;
  height:100%;
  box-sizing:border-box;
  .nav_list{
    width:pxTorem(160px);
    margin-right: pxTorem(20px);
    height:100%;
  }
  .food_list{
    flex:1;
    height: 100%
  }
}