@import '../../style/mixin.scss';
.list{
  height: 100%;
  overflow: scroll;
  .content{
    transition: .3s all ease-in-out;
    .title{
      display: flex;
      height: pxTorem(48px);
      line-height: pxTorem(48px);
      .name{
        font-weight: bold;
        font-size: pxTorem(24px);
        margin-right: pxTorem(20px);
      }
      .desc{
        font-size:pxTorem(24px);
        color: #666;
        
      }
    }
  }
}