@import '../../style/mixin.scss';
.fade-enter,
.fade-appear {
  opacity: 0;
}
.fade-enter-active,
.fade-apper-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.fade-enter-done {
  opacity: 1;
  color: red;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.fade-exit-done {
  opacity: 0;
}

.star{
	display:inline-block;
	margin-left: pxTorem(30px);
	transform:scale(1.25);
}
.star-enter {
	opacity:0.1;
	transform:translateY(-100%) scale(0.75);
}
.star-enter-active{
	opacity:1;
	transform:translateY(0) scale(1.25);
	transition: all .3s ease-in;
}
.star-enter-done {
	color:red;
}
.star-exit{
	opacity:1;
	transform:scale(1.25);
}
.star-exit-active{
	opacity:0;
	transform:scale(4);
	transition: all .3s ease-in;
}
.star-exit-done{
	color:blue;
}