@import '../../style/mixin.scss';
.food_wraper{
  margin: pxTorem(30px) 0;
  display: flex;
  position: relative;
  .pic{
    width:pxTorem(260px);
    height: pxTorem(260px);
  }
  .text{
    flex:1;
    font-size:pxTorem(24px);
    color:#666;
    padding: 0 pxTorem(24px) pxTorem(60px) pxTorem(20px);
    div{
      margin:pxTorem(10px); 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width:pxTorem(200px);
    }
    .title{
      font-weight: bold;
      font-size:pxTorem(32px);
      color:#333;
    }
  }
  .cart_button{
    position: absolute;
    right: pxTorem(40px);
    bottom: 0;
  }
}